p{
	color:black;
}
#myUl {
 box-shadow:3px 3px 40px  1px #888888;	
}
.bow {
box-shadow: 3px 3px 30px  1px #888888;
}
#myPic{
box-shadow: 3px 3px 30px  1px #888888;	
}
.btn btn-waves{
	background: #EEEEEE;
}


